p {
     font-family: 'Montserrat', sans-serif;
}

div {
     font-size: 1.2rem;
     border-radius: 15px;
     background-color: rgb(195, 195, 255);
     padding: 20px;
}

#parentdiv {
     background-color: rgb(255, 227, 176);
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     grid-auto-flow: column-reverse;
     direction: ltr;
     /* order: -1; */
     gap: 20px;
}